.stock-container{
    border-radius: 10px;
}
.stock{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: #F2F2F2;
    border-radius: 12px;
}
.stock-div{
    /* width: 150px; */
    text-align: center;
}
.stock-div img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.stock-div h4{
    color: #e79301;
}
.stock-div p{
    font-weight: 500;
    font-size: 18px;
    color: #414141;
}