.stock-container{
    border-radius: 10px;
    background-color: #F2F2F2;
    /* min-height: 100vh; */
}
.stock{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    border-radius: 12px;
}
.stock-div{
    /* width: 200px; */
    text-align: center;
}
.stock-div img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.stock-div h4{
    color: #e79301;
}
.stock-div p{
    font-weight: 500;
    font-size: 18px;
    color: #414141;
}

@media (max-width:688px) {
   .stock{
       flex-direction: column;
       height: auto;
       gap: 55px;
   }
   .stock-container{
       padding: 40px 0px;
   }
}