.products-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}